<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alusoft Traing</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.css" />
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="my-4">All Courses</h5>
        <a href="/courses/create" class="btn btn-primary">Create Course</a>
      </div>
      <table class="table table-bordered table-striped table-sm text-center">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
          </tr>
        </thead>
        <% for( const course of courses) { %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= course.duration %> weeks</td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
