<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alusoft Traing</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="fontawesome/css/all.css" />
  </head>
  <body>
    <div class="container">
        <h2 class="my-4">Alusoft Student Portal</h2>
        <table class="table table-bordered table-striped table-sm text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Programme</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-secondary">
                    <td>John Doe</td>
                    <td>Male</td>
                    <td>Computer Science</td>
                </tr>
                <tr class="bg-secondary">
                    <td>Jane Smith</td>
                    <td>Female</td>
                    <td>Information Technology</td>
                </tr>
                <tr class="bg-secondary">
                    <td>Sam Brown</td>
                    <td>Male</td>
                    <td>Software Engineering</td>
                </tr>
                <tr class="bg-secondary">
                    <td>Lisa White</td>
                    <td>Female</td>
                    <td>Data Science</td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
